* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    background-color: burlywood;
}

header {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}